
#menubttn {
    @apply flex flex-grow md:col-start-10 col-start-12 text-left rounded-full h-14 w-14 mt-4 mb-2 items-center;
    @apply justify-center border-2 border-green-400 text-white text-3xl ;
    @apply focus:outline-none bg-blue-500;
    @apply hover:bg-green-400 hover:border-blue-600;
    @apply transition ease-out duration-1000;
    @apply hover:scale-110;
}

#closebttn {
    @apply block flex flex-grow text-center rounded-full h-14 w-full mt-4 mb-4 items-center;
    @apply justify-center border-2 border-green-400 text-white text-3xl ;
    @apply focus:outline-none bg-blue-500;
    @apply hover:bg-green-400 hover:border-blue-600;
    @apply transition ease-out duration-1000;
    @apply hover:scale-110;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

#myNav {
    @apply w-full h-0 absolute top-0 left-0 z-10 bg-black opacity-100 overflow-y-hidden ;
    transition: 0.5s;
    position: fixed;
    /* TODO:CHANGE Font */
}


#menu-links {
    @apply block rounded-full w-full mt-5 p-5 text-white text-4xl ;
}


#menu-links
{
    position: relative;
}

#menu-links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  @apply rounded-full;
}

#menu-links:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
  
header {
    @apply mb-2;
    border-style: none none solid none;
    border-width: 2px;
    border-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) 1; 
}


